<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoDefinitivo.My.MySettings.InventoryConnectionString"
            connectionString="Data Source=SP-LA-LAB9-13;Initial Catalog=Inventory;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoDefinitivo.My.MySettings.InventoryConnectionString1"
            connectionString="Data Source=PABLOPORRAS-PC;Initial Catalog=Inventory;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoDefinitivo.My.MySettings.InventoryConnectionString2"
            connectionString="Data Source=SP-LA-LAB6-10;Initial Catalog=Inventory;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>