USE [master]
GO
/****** Object:  Database [Inventory]    Script Date: 21/6/2019 14:06:19 ******/
CREATE DATABASE [Inventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inventory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Inventory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Inventory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Inventory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventory]
GO
/****** Object:  Table [dbo].[ClientProducts]    Script Date: 21/6/2019 14:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientProducts](
	[Code_Products] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[Brand] [varchar](100) NULL,
	[Category] [varchar](100) NULL,
	[Code] [varchar](100) NULL,
	[Quantity] [varchar](100) NULL,
	[Price] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 21/6/2019 14:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Name] [varchar](100) NOT NULL,
	[Brand] [varchar](100) NOT NULL,
	[Category] [varchar](100) NOT NULL,
	[Code] [varchar](100) NOT NULL,
	[Quantity] [varchar](100) NOT NULL,
	[Price] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
